* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    padding: 20px;
}

#header {
    text-align: center;
    margin-bottom: 20px;
}

.row {
    width: 100%;
}

section {
    position: relative;
    border: 2px solid black;
    background: grey;
    color: white;
    margin: 13px;
}

section > h3 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 20px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}


section > h3#chick {  
    background-color: palevioletred;
    color: aliceblue;
}
section > h3#beef {  
    background-color: brown;
    color: aliceblue;
}
section > h3#sushi {  
    background-color: blueviolet;
    color: aliceblue;
}

section> p {
    margin-top: 60px;
    width: 93%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}


/* Desktop Breakpoint */

@media (min-width:992px) {
    .col-lg-4 {
        float: left;
        width: calc(33.33% - 26px);
    }
}

/* Tablet Breakpoint */

@media (min-width:768px) and (max-width:991px) {
    .col-md-6 {
        float: left;
        width: calc(50% - 26px);
    }
    .col-md-12 {
        float: left;
        width: calc(100% - 26px);
    }
}

/* Mobile Breakpoint */

@media (max-width:767px) {
    .col-sm-12 {
        float: left;
        width: calc(100% - 26px);
    }
}